adium-theme-ubuntu==0.3.4
appdirs==1.4.0
attrs==15.2.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
blinker==1.3
boto==2.46.1
Bottleneck==1.0.0
bz2file==0.98
chardet==2.3.0
colorama==0.3.6
cryptography==1.2.3
cycler==0.10.0
Cython==0.25.2
debtags==2.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
Django==1.10.5
dnspython==1.12.0
duplicity==0.7.6
enum34==1.1.2
functools32==3.2.3.post2
gensim==0.13.4.1
geopy==1.11.0
gyp==0.1
httplib2==0.9.1
httpretty==0.8.6
idna==2.0
image==1.5.5
ipaddress==1.0.16
lockfile==0.12.2
lxml==3.5.0
matplotlib==2.0.0
ner==0.1
nltk==3.2.2
nose==1.3.7
numexpr==2.4.3
numpy==1.12.0
oauthlib==1.0.3
olefile==0.44
oneconf==0.3.9
osmapi==0.6.2
packaging==16.8
PAM==0.4.2
pathlib==1.0.1
Pillow==8.3.2
piston-mini-client==0.7.5
Postcodes==0.1
protobuf==2.6.1
psutil==3.4.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycups==1.9.73
pydot==1.0.29
pygobject==3.20.0
PyJWT==1.3.0
pymongo==3.1.1
pyOpenSSL==0.15.1
pyparsing==2.1.10
pyserial==3.0.1
Pyste==0.9.10
python-apt==1.1.0b1
python-dateutil==2.6.0
python-debian==0.1.27
pytz==2016.10
pyxdg==0.25
requests==2.13.0
scikit-image==0.10.1
scikit-learn==0.17
scipy==0.18.1
scour==0.32
service-identity==16.0.0
six==1.10.0
sklearn==0.0
smart-open==1.4.0
software-center-aptd-plugins==0.0.0
stop-words==2015.2.23.1
subprocess32==3.2.7
tables==3.2.2
tensorflow==0.5.0
thefuck==3.3
Twisted==16.0.0
twitter==1.17.1
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.13.1
virtualenv==15.1.0
wordcloud==1.2.1
zim==0.65
zope.interface==4.1.3
